@CHARSET "UTF-8";

html, body {
	min-width: 480px;
	margin: 5px 0;
	font-size: 16px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	background: #DAEFEA;
}

a:link {
	text-decoration: none;
	color: #000;
}

a:visited {
	text-decoration: none;
	color: #000;
}

a:hover {
	text-decoration: none;
	color: #000;
}

a:active {
	text-decoration: none;
	font-size: 14px;
	font-weight: bold;
	color: #000;
}

ul, ul li {
	list-style: none;
	margin: 0;
	float: left;
}

.navigation_bar {
	padding-left: 50px;
	text-align: center;
	height: 50px;
	line-height: 50px;
	background: #7A90C7 url(images/bgimage.gif) no-repeat fixed top;
}

.navigation_bar ul {
	width: 100%;
}

.navigation_bar ul li {
	margin-left: 10px;
	padding-left: 30px;
	cursor: pointer;
	font-weight: bolder;
}

.content {
	border: 1px solid #ccc;
	margin: auto;
	position: relative;
	line-height: 25px;
	min-width: 800px;
	width: 75%;
}

.sidebar_img {
	width: 80px;
	height: 180px;
	margin: auto;
}

.sidebar_left {
	position: fixed;
	left: 5px;
	vertical-align: middle;
	border: 3px solid #76D3F0;
	float: right;
	top: 30%;
	font-size: 8px;
	font-weight: bolder;
	background: none repeat scroll 0 0 #9b9e9c;
	cursor: pointer;
	width: 80px;
	margin-left: 5%;
	z-index: 999;
}

.sidebar_right {
	position: fixed;
	right: 5px;
	vertical-align: middle;
	border: 3px solid #76D3F0;
	float: right;
	top: 30%;
	font-size: 8px;
	font-weight: bolder;
	background: none repeat scroll 0 0 #9b9e9c;
	cursor: pointer;
	width: 80px;
	margin-right: 5%;
	z-index: 999;
}

.sidebar_close_icon {
	position: absolute;
	margin: -13px 0 0 70px;
}

.filecontent {
	text-align: center;
	margin: 5px 10%;
}

.filecontent>table {
	border: 3px solid #ccc;
	margin: auto;
	width: 320px;
}

.filecontent>table .left {
	border: 3px solid #ccc;
	margin: auto;
	width: 80px;
}

.filecontent>table>.right {
	border: 3px solid #ccc;
	width: 240px;
}

.btn_after_input {
	width: 12px;
	margin-left: 5px;
}

/**我的主页开始**/
.homepage_website_nav {
	background: #FFF;
	margin-top: -20px;
	padding: 0 10px;
}

.homepage_website_nav ul {
	width: 100%;
	margin: 0 10px 10px;
	text-align: center;
}

.homepage_website_nav li {
	width: 15%;
}

.homepage_website_nav h3 {
	margin-bottom: auto;
}

.homepage_news_list li {
	width: 100%;
	text-align: left;
}

.myfavoritewebsite {
	text-align: center;
}

.submit_but {
	cursor: pointer;
	float: right;
	margin-right: 300px;
	margin-top: 10px;
	margin-bottom: 10px;
	border-radius: 5px;
	background: #7A90C7;
	width: 70px;
	height: 28px;
}

.myfavoritewebsite .sitename {
	width: 80px;
}

.myfavoritewebsite input {
	margin: 5px;
}

.myfavoritewebsite .siteurl {
	width: 280px;
}
/**我的主页结束**/

/***用户登陆***/
.input_form_table {
	margin: 20px auto;
}

.input_form_table .left {
	width: 100px;
	height: 36px;
	text-align: right;
}

.input_form_table .right {
	width: 200px;
}

.input_form_table .submit_but {
	margin-right:20px;	
}
/***用户登陆结束***/
